* {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #F9FAF8;
}

.structure {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    display: flex;
    color: #E5E7EB;
    padding-bottom: 80px;
    padding-top: 10px;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    width: 320px;
    color: #F9FAF8;
    font-weight: bold;
    margin: 5px;
    padding: 1px;
    text-align: center;
    display: flex;
    justify-content: left;
}

.header .links {
    text-align: right;
    width: 600px;
    padding: 1px;
    margin: 5px;
    gap: 30px;
    display: flex;
    justify-content: right;
}

.header div p {
    padding: 1px;
    margin: 5px;
    width: 450px;
}

.header .main {
    font-size: 48px;
    font-weight: 900;
}

.header div button {
    background-color: #3882F6;
    padding: 8px 20px;
    margin-top: 10px;
    width: 130px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.header .header-img {
    background-color: grey;
    width: 480px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.content {
    display: flex;
    flex-direction: column;
}

.section1 h3 {
    margin: 50px;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.section1 .imagenes {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-bottom: 70px;
}

.section1 .center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.section1 .center p {
    width: 160px;
    color: #1F2937;
    font-weight: 300;
    text-align: center;
    margin: 8px;
}

.section1 .cuadro {
    height: 160px;
    width: 160px;
    border-radius: 10px;
    border: 5px solid #3882F6;
}

.section2 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px 0px 100px;
}

.section2 div {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 780px;
    text-align: left;
}

.section2 .name {
    font-size: 24px;
    font-style: normal;
    text-align: right;
    margin: 0px;
    font-weight: bold;
    padding-top: 5px;
    padding-right: 50px;
}

.section3 {
    background-color: #3882F6;
    display: flex;
    width: 880px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px;
    align-self: center;
    padding: 20px 30px;
    margin: 100px auto;
    border-radius: 10px;
}

.section3 .titulo {
    font-weight: bold;
    font-size: 24px;
}

.section3 button {
    background-color: #3882F6;
    width: 130px;
    padding: 5px 15px;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    font-weight: bold;
    box-sizing: border-box;
}

.section4 {
    background-color: #1F2937;
    text-align: center;
    padding: 40px;
}