* {
    font-family: 'Roboto', sans-serif;
}

.struct {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    background-color: #1F2937;
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 80px;
    padding-top: 10px;
}

.header div {
    align-items: center;
}

.header div p {
    padding: 1px;
    margin: 5px;
    margin-left: 200px;
    width: 450px;
}

.header .main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.header div button {
    background-color: #3882F6;
    padding: 8px 20px;
    margin-left: 200px;
    width: 130px;
    color: #F9FAF8;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
}

.header-img {
    background-color: grey;
    width: 480px;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}

.content {
    display: flex;
    flex-direction: column;
}

.section1 h3 {
    margin: 40px;
    color: #1F2937;
    font-size: 32px;
    text-align: center;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    flex: 1;
    margin: 5px;
    padding: 1px;
    margin-left: 200px;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.center p {
    width: 150px;
    color: #1F2937;
    text-align: center;
}

.imagenes .cuadro {
    height: 150px;
    width: 150px;
    border-radius: 10px;
    border: 4px solid #3882F6;
}

.section1 .imagenes {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-bottom: 70px;
}

.section2 {
    background-color: #E5E7EB;
}

.content .section2 div{ 
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    text-align: center;
    margin-top: 50px;
}

.links {
    text-align: right;
    padding: 1px;
    margin: 5px;
    margin-right: 100px;
    gap: 30px;
    display: flex;
    flex: 1;
}